---
fullnameOverride: ""

# Creates a workspace file with the gRPC servers hosting your user code.
enabled: true

# If you plan on deploying user code in a separate Helm release, set this to false.
enableSubchart: true

# List of unique deployments
deployments:
  - name: "k8s-example-user-code-1"
    image:
      repository: "dagster/user-code-example"
      tag: latest
      # Change with caution! If you're using a fixed tag for pipeline run images, changing the
      # image pull policy to anything other than "Always" will use a cached/stale image, which is
      # almost certainly not what you want.
      pullPolicy: Always
    # Arguments to `dagster api grpc`.
    # Ex: "dagster api grpc -m dagster_test.test_project.test_pipelines.repo -a define_demo_execution_repo"
    # would translate to:
    # dagsterApiGrpcArgs:
    #   - "-m"
    #   - "dagster_test.test_project.test_pipelines.repo"
    #   - "-a"
    #   - "define_demo_execution_repo"
    dagsterApiGrpcArgs:
      - "-f"
      - "/example_project/example_repo/repo.py"
    port: 3030

    # Additional environment variables to set.
    # A Kubernetes ConfigMap will be created with these environment variables. See:
    # https://kubernetes.io/docs/concepts/configuration/configmap/
    #
    # Example:
    #
    # env:
    #   ENV_ONE: one
    #   ENV_TWO: two
    env: {}

    # Additional environment variables can be retrieved and set from ConfigMaps. See:
    # https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#configure-all-key-value-pairs-in-a-configmap-as-container-environment-variables
    #
    # Example:
    #
    # envConfigMaps:
    #   - name: config-map
    envConfigMaps: []

    # Additional environment variables can be retrieved and set from Secrets. See:
    # https://kubernetes.io/docs/concepts/configuration/secret/#use-case-as-container-environment-variables
    #
    # Example:
    #
    # envSecrets:
    #   - name: secret
    envSecrets: []

    annotations: {}
    nodeSelector: {}
    affinity: {}
    tolerations: []
    podSecurityContext: {}
    securityContext: {}
    resources: {}
    replicaCount: 1
    # Liveness Probe and Startup Probe are optional. For more configuration docs, see:
    # https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes
    # Note that Startup Probe is only available as a kubernetes v1.16+ feature.
    livenessProbe:
      # If `livenessProbe` has no `exec` field, then the following default will be used:
      # exec:
      #   command: ["dagster", "api", "grpc-health-check", "-p", "{{ $deployment.port }}"]
      initialDelaySeconds: 0
      periodSeconds: 20
      timeoutSeconds: 3
      successThreshold: 1
      failureThreshold: 3
    startupProbe:
      # If `livenessProbe` has no `exec` field, then the following default will be used:
      # exec:
      #   command: ["dagster", "api", "grpc-health-check", "-p", "{{ $deployment.port }}"]
      initialDelaySeconds: 0
      periodSeconds: 10
      timeoutSeconds: 3
      successThreshold: 1
      failureThreshold: 3

    service:
      annotations: {}

serviceAccount:
  create: true
